<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/pagestyle.css">
    <title>Signup Page</title>
    
</head>
<body>
    <div class="centered-form">
        <div class="form-container">
            <h1 class="h3 mb-3 font-weight-normal text-center">Please sign up</h1>
            <form class="form-signup" action="/signup" method="POST">
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Full Name" required autofocus>

                <label for="email" class="sr-only">Email address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
                
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                
                <p class="mt-5 mb-3 text-muted text-center">&copy; 2024</p>
                <div class="text-center mt-2">
                    <a href="/">Already have an account? Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
